@{
    ViewData["Title"] = "Salles web MVC app from C#";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <p></p>
    <h2 class="display-4">Ingrith Desenvolvimento Ltda</h2>  
    <p></p>   
    <h5>Email: @ViewData["email"]</h5>
    <address>
        <strong>Linkedin: <a href="https://www.linkedin.com/in/ingrithreis/">Ingrith Reis </a></strong>
    </address>
    
</div>
